$fg: #fff !default;
$bg: #000 !default;
.bold{
  font-weight: bold;}
.underline{
  text-decoration: underline;}
.blink{
  text-decoration: blink;}
.invisible{
  visibility: hidden;}
.reverse-video{
  color: $bg;
  background-color: $fg;}
.blur .cursor.reverse-video{
  background: none;}