$bg: #222
$fg: #ccc

html, body
  height: 100%

body
  background-color: $bg

  main
    display: flex
    height: 100%
    flex-direction: column

    .terminal
      /* margin: .5em
      flex: 1
      font-family: 'Droid Sans Mono', monospace
      outline: none
      color: $fg

    .terminal-cursor
      color: $bg
      background-color: $fg
