
html, body
  height: 100%

body
  color: #5a5a5a

  main
    display: flex
    flex-direction: column

    .term
      flex: 1
      code
        white-space: pre-line

    #prompt
      border: 1px solid #777
