/* line 4, ../sass/main.sass */
html, body {
  height: 100%;
}

/* line 7, ../sass/main.sass */
body {
  background-color: #222222;
}
/* line 10, ../sass/main.sass */
body main {
  display: flex;
  height: 100%;
  flex-direction: column;
}
/* line 15, ../sass/main.sass */
body main .terminal {
  /* margin: .5em */
  flex: 1;
  font-family: monospace;
  outline: none;
  color: #cccccc;
}
