/* line 2, ../sass/main.sass */
html, body {
  height: 100%;
}

/* line 5, ../sass/main.sass */
body {
  color: #5a5a5a;
}
/* line 8, ../sass/main.sass */
body main {
  display: flex;
  flex-direction: column;
}
/* line 12, ../sass/main.sass */
body main .term {
  flex: 1;
}
/* line 14, ../sass/main.sass */
body main .term code {
  white-space: pre-line;
}
/* line 17, ../sass/main.sass */
body main #prompt {
  border: 1px solid #777777;
}
