
[34;1m                   `         '
   ;,,,             `       '             ,,,;
   `Y888888bo.       :     :       .od888888Y'
     8888888888b.     :   :     .d8888888888
     88888Y'  `Y8b.   `   '   .d8Y'  `Y88888
    j88888  [37;1m.db.[34;1m  Yb. '   ' .dY  [37;1m.db.[34;1m  88888k
      `888  [37;1mY88Y[34;1m    `b ( ) d'    [37;1mY88Y[34;1m  888'
       888b  [37;1m'"[34;1m        ,',        [37;1m"'[34;1m  d888
      j888888bd8gf"'   ':'   `"?g8bd888888k
        [37;1m'Y'[34;1m   .8'     d' 'b     '8.   [37;1m'Y'[0m
         [37;1m![34;1m   .8' [37;1mdb[34;1m  d'; ;`b  [37;1mdb[34;1m '8.   [37;1m![34;1m
            d88  [37;1m`'[34;1m  8 ; ; 8  [37;1m`'[34;1m  88b             [37;1mbutterfly [33;1mv %s[34;1m
           d888b   .g8 ',' 8g.   d888b
          :888888888Y'     'Y888888888:           [37;0mConnecting to:[34;1m
          '! 8888888'       `8888888 !'              [32;1m%s[34;1m
             '8Y  [37;1m`Y         Y'[34;1m  Y8'
[37;1m              Y                   Y               [37;0mFrom:[37;1m
              !                   !                  [32;1m%s[0m
