{%- from "_utils.jinja2" import static -%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ static('images/favicon.png') }}">
    {%- include "_ie.jinja2" -%}

    <title>Apparatus</title>
    <link href="{{ static('stylesheets/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static('stylesheets/main.css') }}" rel="stylesheet">
  </head>

  <body>

    {%- include "_nav.jinja2" -%}

    <section id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        {% for i in range(3) %}
          <article class="item{{ ' active' if i == 0}}">
            <div class="container">
              <div class="carousel-caption">
                <h1>{{ lipsum(1, html=False, max=30) }}</h1>
                {{ lipsum(1, max=40) }}
                <p>
                  <a class="btn btn-lg btn-primary" href="#" role="button">{{ lipsum(1, html=False, min=1, max=3) }}</a>
                </p>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </section>

    <section class="container">
      <article class="row">
        {% for i in range(3) %}
          <div class="col-lg-4">
            <h2>{{ lipsum(1, html=False, min=5, max=10) }}</h2>
            {{ lipsum(1, max=40) }}
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
        {% endfor %}
      </article>

      <hr class="featurette-divider">
      {% macro item(i) %}
        {% if i % 2 %}
          <div class="col-md-5">
            <img src="http://lorempixel.com/g/400/400#{{ i }}" />
          </div>
        {% else %}
          <div class="col-md-7">
            <h2 class="featurette-heading">{{ lipsum(1, html=False, min=3, max=6) }}<span class="text-muted">{{ lipsum(1, html=False, min=3, max=6) }}</span></h2>
            <p class="lead">{{ lipsum(1, html=False, max=50) }}</p>
          </div>
        {% endif %}
      {% endmacro %}
      {% for i in range(3) %}
        <article class="row featurette">
          {{ item(i) }}
          {{ item(i + 11) }}
          <hr class="featurette-divider">
        </article>
      {% endfor %}

      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </section>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ static('javascripts/bootstrap.min.js') }}"></script>
    <script src="{{ static('javascripts/main.js') }}"></script>
  </body>
</html>
